.exam
{
    background-color: antiquewhite;
    margin: 5px;
}
.exam img
{
    border-radius: 5px;
    margin-bottom: 5px;
    width: 50%;
    height:auto;
}
.exam button
{
    background-color: aqua;
    color: #fff;
    border: 1px solid rgb(133, 129, 129);
    border-radius: 5px;
    
}
.exam button:hover
{
    background-color: rgb(53, 102, 102);
}
