.consult
{
    background-image: url("https://idsb.tmgrup.com.tr/ly/uploads/images/2022/05/24/207704.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 5px;
}

.consult h1
{
    color:rgb(221, 14, 14);
}
.consult h5
{
    color: #fff;
}
#hour
{
    color: rgb(212, 22, 70);
}
.consult h2
{
    color:#fff;
    margin-bottom: 15px;
    padding-bottom: 600px;
}
.consult button
{
    background-color: rgb(182, 34, 34);
    border: 1px solid rgb(243, 170, 170);
    border-radius: 5px;
}
.consult button:hover
{
    background-color: red;
}
